//* Questions.jsx
.Questions {
  width: 100%;
  height: 100%;
  .container {
    width: 100%;
    height: 700px;
    position: relative;
    padding-top: 100px;
    margin-bottom: 100px;
    .backdrop {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.1;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
    .opacity-layer {
      width: 100%;
      height: 250px;
      background: linear-gradient(
        180deg,
        rgba(4, 21, 45, 0) 0%,
        #04152d 79.17%
      );
      position: absolute;
      bottom: 0;
      left: 0;
    }
    .content {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      gap: 50px;
      margin-left: 100px;
      .left {
        img {
          width: 450px;
          height: 600px;
          object-fit: cover;
          border-radius: 15px;
        }
      }
      .right {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 30px;
        .top {
          background-color: var(--black);
          border-radius: 12px;
          backdrop-filter: blur(3.5px);
          -webkit-backdrop-filter: blur(3.5px);
          padding: 40px 40px 40px 40px;
          display: flex;
          flex-direction: column;
          gap: 20px;
          h1 {
            font-size: 2rem;
            font-family: var(--main-font);
            font-weight: bold;
            color: var(--Text);
          }
          ul {
            display: flex;
            flex-direction: row;
            gap: 20px;
            li {
              list-style-type: none;
              cursor: pointer;
              color: var(--Text);
              font-family: var(--main-font);
              list-style-type: none;
              font-size: 1rem;
              &:hover {
                color: var(--main-color);
              }
            }
          }
          p {
            font-size: 1rem;
            font-family: var(--main-font);
            color: var(--Text);
            opacity: 0.5;
            display: block;
            width: 400px;
          }
          .buttons {
            margin-top: 15px;
            display: flex;
            gap: 15px;
            button {
              font-size: 0.9rem;
              padding: 5px 10px 5px 10px;
              border-radius: 10px;
              cursor: pointer;
              background-color: var(--main-color);
            }

            .first {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 10px;
              color: var(--Text);
              font-family: var(--main-font);
            }
            .second {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 10px;
              background: transparent;
              border: 1px solid var(--main-color);
              color: var(--main-color);
              font-family: var(--main-font);
            }
          }
        }
        .bottom {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-around;
          position: relative;
          background-color: var(--black);
          border-radius: 12px;
          backdrop-filter: blur(3.5px);
          -webkit-backdrop-filter: blur(3.5px);
          padding: 40px 40px 40px 40px;
          .solved {
            font-size: 1rem;
            font-family: var(--main-font);
            color: var(--Text);
            font-weight: normal;
            position: absolute;
            top: 0;
            left: 0;
            padding-top: 15px;
            padding-left: 25px;
          }
          .typewiseprogress {
            display: flex;
            flex-direction: column;
            gap: 20px;
            .easy {
              .lable {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                h4 {
                  font-size: 0.8rem;
                  font-family: var(--main-font);
                  color: var(--Text);
                  font-weight: lighter;
                  margin-bottom: 5px;
                }
                span {
                  font-size: 0.8rem;
                  font-family: var(--main-font);
                  color: var(--Text);
                  font-weight: lighter;
                  margin-bottom: 5px;
                }
              }
            }
            .medium {
              .lable {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                h4 {
                  font-size: 0.8rem;
                  font-family: var(--main-font);
                  color: var(--Text);
                  font-weight: lighter;
                  margin-bottom: 5px;
                }
                span {
                  font-size: 0.8rem;
                  font-family: var(--main-font);
                  color: var(--Text);
                  font-weight: lighter;
                  margin-bottom: 5px;
                }
              }
            }
            .hard {
              .lable {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                h4 {
                  font-size: 0.8rem;
                  font-family: var(--main-font);
                  color: var(--Text);
                  font-weight: lighter;
                  margin-bottom: 5px;
                }
                span {
                  font-size: 0.8rem;
                  font-family: var(--main-font);
                  color: var(--Text);
                  font-weight: lighter;
                  margin-bottom: 5px;
                }
              }
            }
          }
          .progress {
            width: 100px;
            height: 100px;
          }
        }
      }
    }
  }
  .headings {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 10px;
    padding: 15px 20px 15px 20px;
    h6 {
      font-size: 1.2rem;
      font-family: var(--main-font);
      color: var(--Text);
      font-weight: lighter;
    }
    .status {
      flex: 4;
      margin-left: 25px;
    }
    .question {
      flex: 8;
    }
    .art {
      flex: 2;
      display: flex;
      justify-content: center;
    }
    .lc {
      flex: 2;
      display: flex;
      justify-content: center;
    }
    .gfg {
      flex: 2;
      display: flex;
      justify-content: center;
    }
    .notes {
      flex: 2;
      display: flex;
      justify-content: center;
    }
  }
  .line {
    width: 100%;
    height: 1px;
    background-color: var(--Text);
    opacity: 0.25;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

// * SingleQuestion.jsx
.SingleQuestion {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  border-radius: 10px;
  padding: 15px 20px 15px 20px;

  &.grey {
    background-color: var(--black-medium);
  }

  &.black {
    background-color: var(--black);
  }

  .status {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    flex: 4;
    .dot {
      height: 20px;
      width: 20px;
      border-radius: 50%;
      &.pending {
        background-color: red;
      }
      &.solved {
        background-color: green;
      }
      &.revisit {
        background-color: orange;
      }
    }
    select {
      display: flex;
      height: 25px;
      background: transparent;
      border: 1px solid var(--main-color);
      color: var(--Text);
      option {
        background: var(--black);
        border: 1px solid var(--main-color);
        color: var(--Text);
      }
    }
  }
  .question {
    flex: 8;
    overflow: hidden; /* Hide the overflow content */
    white-space: nowrap; /* Prevent text wrapping */
    text-overflow: ellipsis; /* Display dots (...) when text overflows */
    h4 {
      a {
        font-size: 1.4rem;
        font-family: var(--main-font);
        color: var(--Text);
        font-weight: normal;
        text-decoration: none;
        &:hover {
          color: var(--main-color);
          transition: all 0.6s ease;
        }
      }
    }
  }
  .difficulty {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center; /* Center content horizontally */
    .type {
      &.Easy {
        color: rgb(0, 184, 163);
      }
      &.Medium {
        color: rgb(255, 192, 30);
      }
      &.Hard {
        color: rgb(255, 55, 95);
      }
    }
  }
  .leetcode {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center; /* Center content horizontally */
    a {
      img {
        height: 35px;
        object-fit: cover;
        border-radius: 50%;
      }
    }
  }
  .gfg {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center; /* Center content horizontally */
    a {
      img {
        height: 35px;
        object-fit: cover;
        border-radius: 50%;
      }
    }
  }
  .notes {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center; /* Center content horizontally */
    img {
      height: 35px;
      object-fit: cover;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}


//* Notes.jsx

.notes-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it's above other content */
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  .notes-header{
    width : 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    h1{
      font-size: 1.6rem;
      font-family: var(--font-family);
      color: var(--Text);
    }
    button{
      font-size: 0.8rem;
      padding: 5px 10px 5px 10px;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      background-color: var(--main-color);
      color: var(--Text);
      font-family: var(--font-family);
    }
  }
  .notes-input{
    textarea{
      background-color: var(--black);
      color: var(--Text);
      border: 1px solid var(--main-color);
      border-radius: 10px;
      padding: 10px;
    }
  }
  .notes-footer{
    display: flex;
    flex-direction: row;
    gap: 20px;
    button{
      font-size: 0.8rem;
      padding: 5px 15px 5px 15px;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      background-color: var(--main-color);
      color: var(--Text);
      font-family: var(--font-family);
    }
  }
}
}